ProjectStudio_BHV/Library/EditorInstance.json
ProjectStudio_BHV/Temp/

# =============== #
# Unity generated #
# =============== #
ProjectStudio_BHV/[Tt]emp/
ProjectStudio_BHV/[Oo]bj/
ProjectStudio_BHV/[Bb]uild
ProjectStudio_BHV/[Bb]uilds/
ProjectStudio_BHV/[Ll]ibrary/
ProjectStudio_BHV/sysinfo.txt
ProjectStudio_BHV/*.stackdump
ProjectStudio_BHV/Assets/AssetStoreTools*
ProjectStudio_BHV/*.apk
ProjectStudio_BHV/*.unitypackage
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ProjectStudio_BHV/[Ee]xported[Oo]bj/
ProjectStudio_BHV/.vs/
ProjectStudio_BHV/*.userprefs
ProjectStudio_BHV/*.csproj
ProjectStudio_BHV/*.pidb
ProjectStudio_BHV/*.pidb.meta
ProjectStudio_BHV/*.suo
ProjectStudio_BHV/*.sln*
ProjectStudio_BHV/*.user
ProjectStudio_BHV/*.unityproj
ProjectStudio_BHV/*.booproj
ProjectStudio_BHV/.consulo/
ProjectStudio_BHV/*.tmp
ProjectStudio_BHV/*.svd
 
# ============ #
# OS generated #
# ============ #
ProjectStudio_BHV/.DS_Store*
ProjectStudio_BHV/._*
ProjectStudio_BHV/.Spotlight-V100
ProjectStudio_BHV/.Trashes
ProjectStudio_BHV/Icon?
ProjectStudio_BHV/ehthumbs.db
ProjectStudio_BHV/[Tt]humbs.db
ProjectStudio_BHV/[Dd]esktop.ini
ProjectStudio_BHV/Corridor/Library/ShaderCache/
ProjectStudio_BHV/Corridor/Library/metadata/
